<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HrmAutomation">

 <listeners>
<listener class-name="com.qa.extentreportlistener.ExtentReportListener"/>

</listeners>
  
  <test thread-count="5" name="Testcases">
  
    <classes>
      <!-- <class name="com.hrm.qa.TestCases.HomePageTest"/>
      <class name="com.hrm.qa.TestCases.LoginPageTest"/> -->
      
      
      <class name="com.hrm.qa.TestCases.PimPagetest1"/>
      
    </classes>
  </test> <!-- Testcases -->
</suite> <!-- HrmAutomation -->
